    
@media (min-width: 1800px) {


    .text-box {
        position: absolute;
        max-width: 33%;
        left: 11%;
        top: 18%;
        bottom: auto;
        justify-content: center;
        text-align: right;
        box-sizing: border-box; /* Include the border in the box's total width and height */
        line-height: 2; /* Increase the line height to 1.5 times the font size */
        /* border: 3px solid transparent var(--color-light-background); /* Set transparent border */
        /* box-shadow: 0 0 20px 3px var(--color-dark-background);
        border-radius: 10px; /* Add border-radius property with desired value */
        color: var(--color-dark-text);
    }

    .text-box h2 {
        font-size: 40px;
        margin-top: 0%;
      }

    .text-box p {
        text-align: justify;
        font-size: 22px;
    }

    .image-box{
        position: absolute;
        top: 20%;
        bottom: auto;
        right: 15%;
        width: 25%;
    }
      

    .image-box img {
        float: right;
        width: 100%;
        border: 2px solid transparent var(--color-light-background); /* Set transparent border */
        box-shadow: 0 0 20px 3px var(--color-dark-background); /* Apply blur effect to box shadow */
        justify-content: center;
        position: relative;
        text-align: right;
    }
    
}


@media (min-width: 981px) and (max-width: 1800px) {
        .text-box {
            position: absolute;
            color: var(--color-dark-background);
            top: 25%;
            margin-left: 17.5%;
            margin-right: 17.5%;
            background-color: var(--color-light-background);
            box-sizing: border-box; /* Include the border in the box's total width and height */
            line-height: 2; /* Increase the line height to 1.5 times the font size */
            /* border: 3px solid transparent var(--color-light-background); /* Set transparent border */
            /* box-shadow: 0 0 20px 3px var(--color-dark-background);
            border-radius: 10px; /* Add border-radius property with desired value */
        }
        .image-box img {
            display: None;
        }

        .text-box h2 {
            font-size: 40px;
            margin-top: 0%;
          }
    
        .text-box p {
            text-align: justify;
            font-size: 22px;
        }
    }

@media (max-width: 980px) {

    .box {
        display: flex;

        width:100%;
    }
    .text-box {
        position:absolute;
        color: var(--color-dark-background);
        width: 80%;
        top: 20%;
        left:15%;
        padding: 2.5%;
        background-color: var(--color-light-background);
        box-sizing: border-box; /* Include the border in the box's total width and height */
        line-height: 2; /* Increase the line height to 1.5 times the font size */
        /* border: 3px solid transparent var(--color-light-background); /* Set transparent border */
        /* box-shadow: 0 0 20px 3px var(--color-dark-background);
        border-radius: 10px; /* Add border-radius property with desired value */
        padding-bottom: 20%;
    }
        .text-box h2{        
            text-align: center;
            font-size: 4rem;
        }
        .text-box p{
            text-align: justify;
            font-size: 2.33rem;
        }
        .image-box img {
            display: None;
        }
    }
