@media (min-width: 1800px) {

    .content {
        margin-top: 15vh; /* Adjust the value to match the height of your header */
        margin-bottom: 80px; /* Adjust the value to match the height of your footer */
        margin-left: 15vh;
        margin-right: 12.5vh;
        margin-bottom: 12.5vh;
        background-color: var(--color-light-background);
        font-family: var(--main-font-family);
        color: var(--color-dark-text);
        flex: 1;
        display: grid;

      }      

      .content div{
        padding: 5px;
      }
      .content.sticky{
        padding-top:50px;
        padding-bottom: 2000px;
    }

    .section{
      margin-top: 5vh;
      margin-left: 20%;
      margin-right: 20%;
      background-color: var(--color-light-background);
    }
  
    .section h2{
      font-size: 2rem;
      justify-content: right;
    }

    .section p{
      font-size: 1.25rem;
    }


    .section-content{
      line-height: 2;
      text-align: justify;
      margin-top: 2vh;
    }

    .section-content-horizontal{
      line-height: 2;
      text-align: justify;
      margin-top: 2vh;
      display: flex;
      gap: 10%;
      font-size: 1.25rem;
    }


    .section-content-horizontal-left{
      width: 45%;
    }

    .section-content-horizontal-right{
      width:45%;
    }

    .section-content-horizontal-left p {
      display: flex;
      justify-content: left;
    }

    .section-content-horizontal-right p {
      display: flex;
      justify-content: right;
    }

    .section-content-horizontal-3{
      line-height: 2;
      text-align: justify;
      margin-top: 2vh;
      display: flex;
      gap: 11.25%;
    }

    .section-content-horizontal-3 p {
      font-size: 1.25rem;
    }

    .section-content-horizontal-3-left{
      width: 26%;
    }

    .section-content-horizontal-3-center{
      width: 26%;
    }

    
    .section-content-horizontal-3-right{
      width:26%;
    }

    .section-content-horizontal-3-left p {
      display: flex;
      justify-content: left;
    }

    .section-content-horizontal-3-center p {
      display: flex;
      justify-content: center;
    }


    .section-content-horizontal-3-right p {
      display: flex;
      justify-content: right;
    }


    hr {
      border: none; /* Remove default border */
      border-top: 2px solid var(--color-dark-text); /* Add custom border style */
      margin: 10px 0; /* Add margin for spacing */
  }


    .skills{
      display:flex;
      flex-direction: row; 
      justify-content: center; 
      align-items: center;
      justify-content: space-between;
      margin-top: 2vh;
    }

    .skills p{
      font-size: 1.25rem;
    }

}



@media (min-width: 1171px) and (max-width: 1799px) {
    
  .content {
      margin-top: 15vh; /* Adjust the value to match the height of your header */
      margin-bottom: 80px; /* Adjust the value to match the height of your footer */
      margin-left: auto;
      margin-bottom: 15vh;
      background-color: var(--color-light-background);
      font-family: var(--main-font-family);
      color: var(--color-dark-text);
      flex: 1;
      display: grid;
    }      

    .content div{
      padding: 5px;
    }
    .content.sticky{
      padding-top:50px;
      padding-bottom: 2000px;
  }

  .section{
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    background-color: var(--color-light-background);
  }

  .section h2{
    font-size: 40px;
    justify-content: right;
  }

  .section p{
    font-size: 20px;
  }

  .section li{
    font-size: 20px;
  }

  .personal{
    margin-top: 2vh;
  }

  .summary{
    font-size: 24px;
    line-height: 2;
    text-align: justify;
    margin-top: 2vh;
  }

  .education
  {
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
  }

  .education2
  {
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
  }

  .education2 div:last-child {
    visibility: hidden;
    opacity: 0;
}

  .languages
  {
    display:flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
  }

  hr {
    border: none; /* Remove default border */
    border-top: 2px solid var(--color-dark-text); /* Add custom border style */
    margin: 10px 0; /* Add margin for spacing */
}
  .certificates{
    margin-top: 2vh;
  }

  .skills{
    display:flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;

  }

}



@media (max-width: 1170px) {
  .content {
      position: absolute;
      left: 10%;
      padding-top:15%;
      padding:5%;
      right: auto;
      padding-bottom: 25%;
      background-color: var(--color-light-background);
      font-family: var(--main-font-family);
      color: var(--color-dark-text);
      align-items: center; 
      display: grid;
    }      

  .content p {
    font-size: 1.5rem;
  }


  .section{
    margin-top: 0vh;
    background-color: var(--color-light-background);
  }

  .section h2{
    font-size: 3rem;
    justify-content: right;
  }

  .section p{
    font-size: 2rem;
    line-height: 1.5;
    text-align: justify;
  }



          /*
  .section li{
    font-size: 22px;
  }

  .personal{
    margin-top: 2vh;
  }

  .summary{
    font-size: 20px;
    line-height: 2;
    text-align: justify;
    margin-top: 2vh;
  }

  .education
  {
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
  }

  .education2
  {
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
  }

  .languages
  {
    display:flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
  }
*/
  hr {
    border: none; /* Remove default border */
    border-top: 2px solid var(--color-dark-text); /* Add custom border style */
    margin: 10px 0; /* Add margin for spacing */
}
  .certificates{
    margin-top: 2vh;
  }

  .skills{
    justify-content: center; 
    margin-top: 2vh;
  } 
}

