@media (min-width: 1440px) {

    .footer {
        position: fixed;
        bottom: 0vh;
        width: 100%;
        background-color: var(--color-dark-background);
        height: 7.5vh;
        color: var(--color-light-background);
        
    }
    footer.sticky{position: sticky;bottom: 0;}


    .parent-footer{
        position: relative;
        margin-left:5%;
        margin-right:5%;
        height: 7.5vh;
        justify-content: center;
        align-items: center;
    }


    .signature{
        position: absolute;
        width: 20%;
        height: 50%;
        bottom: 25%;
        left: 0px;
        display: flex;
        align-items: center;
      }

      .signature p{
        font-size: 1.5rem;
        text-decoration: none;
      }

      .social-media-icons-footer {
        position: absolute;
        width: 20%;
        height: 50%;
        bottom: 25%;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .social-media-icons-footer img {
        float: right;
        filter: var(--color-light-background);
        max-height: 40px;
        max-width: auto;
        margin: 0 20px; /* Add some horizontal spacing between icons */
    }

}

@media (min-width: 981px) and (max-width: 1439px) {
    
    
    .footer {
        position: fixed;
        bottom: 0vh;
        width: 100%;
        background-color: var(--color-dark-background);
        height: 7.5vh;
        color: var(--color-light-background);
        
    }
    footer.sticky{position: sticky;bottom: 0;}


    .parent-footer{
        position: relative;
        margin-left:5%;
        margin-right:5%;
        height: 7.5vh;
        justify-content: center;
        align-items: center;
    }


    .signature{
        position: absolute;
        width: 50%;
        height: 50%;
        bottom: 25%;
        left: 0px;
        display: flex;
        align-items: center;
      }

      .signature p{
        font-size: 1.5rem;
        text-decoration: none;
      }

      .social-media-icons-footer {
        position: absolute;
        width: 20%;
        height: 50%;
        bottom: 25%;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .social-media-icons-footer img {
        float: right;
        filter: var(--color-light-background);
        max-height: 40px;
        max-width: auto;
        margin: 0 20px; /* Add some horizontal spacing between icons */
    }


}


@media (max-width: 980px) {


        
    .footer {
        position: fixed;
        bottom: 0vh;
        width: 100%;
        background-color: var(--color-dark-background);
        height: 7.5vh;
        color: var(--color-light-background);
        
    }
    footer.sticky{position: sticky;bottom: 0;}


    .parent-footer{
        position: relative;
        margin-left:5%;
        margin-right:5%;
        height: 7.5vh;
        justify-content: center;
        align-items: center;
    }


    .signature{
        display: none;

      }


      .social-media-icons-footer {
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-media-icons-footer img {
        float: center;
        filter: var(--color-light-background);
        max-height: 50px;
        max-width: auto;
        margin: 0 20px; /* Add some horizontal spacing between icons */
    }




}