@media (min-width: 1440px) {

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--color-dark-background);
        height: 5vh;
        padding: 5px;
        color: var(--color-light-background);
    }

    footer p{
        margin-left: 5vh;
    }

    footer.sticky{position: sticky;bottom: 0;}
}