
@media (min-width: 1800px) {

    .header {
        position:fixed;
        width: 100%;
        background-color: var(--color-dark-background);
        color: var(--color-light-background);
        top: 0px;
        height: 7.5vh;
        margin: 0;
    }

    header.sticky{position:sticky;top:0}



    .parent-header
    {
        position:relative;
        margin-left:5%;
        margin-right:5%;
        height: 7.5vh;
        display: flex; /* Use flexbox to center vertically and horizontally */
        justify-content: center;
        align-items: center;
    }

    .homepage {
        position: absolute;
        width: 20%;
        height: 50%;
        bottom: 25%;
        left: 0px;
        display: flex;
        align-items: center;
    }
    
    .homepage a {
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--color-light-backgrounds);
    }
    
    .homepage-mobile-phone{
        display: none;
    }

    
    .web-sections {
        position: absolute;
        width: 33%;
        height: 50%;
        bottom: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .web-sections ul {
        list-style: none;
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
    }

    .web-sections li {
        margin: 0 30px;
    }

    .web-sections a {
        text-decoration: none;
        color: var(--color-light-background);
        font-size: 1.5rem;
    }


}

@media (min-width: 981px) and (max-width: 1800px) {
    
    /* .social-media-icons {
        display: none;
    } */

    .homepage {
        display: none;
    }

    header {
        margin-left: 0vh;
        margin-right: 0vh;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-dark-background);
        color: var(--color-light-background);
        padding: 0vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    nav.active {
        display: block;
    }

    .header {
        position: fixed;
        width: 100%;
        background-color: var(--color-dark-background);
        color: var(--color-light-background);
        padding: 0vh;
        height: 12vh;
    }

    .homepage-mobile-phone {        
        left: 0vh;
        position: absolute;
        align-items: center;
        margin-top: 4vh;
        margin-left: 4vh;
        margin-right: 0vh;
    }

    .homepage-mobile-phone a {
        font-size: 10px;
    }

    .homepage-mobile-phone img {
        width: auto;
        height: 4vh;
        object-fit: cover;
        filter: var(--color-nav-text);
    }

    .menu-icon {
        display: block;
    }

    /* Styles for the navigation bar */
    nav {
        display: flex;
        justify-content: center;
    }

    /* Styles for the list items in the navigation bar */
    nav ul {
        position: absolute;
        margin-top: 4vh;
        margin-left: 15vh;
        margin-right: 15vh;
        display: flex;
    }

    nav li {
        margin: 0 22px;
        display: flex;
        align-items: center;
    }

    /* Styles for the links in the navigation bar */
    nav a {
        text-decoration: none;
        color: var(--color-nav-text);
        font-size: 30px;
    }

    nav a:hover {
        color: var(--color-hover);
    }
}

@media (max-width: 980px) {

        .social-media-icons{
            display: none;
        }

        .homepage{
            display: none;
        }

        .header {
            position:relative;
            width: 100%;
            background-color: var(--color-dark-background);
            color: var(--color-light-background);
            padding: 2.5vh;
            height: 10%;
        }

        .parent-header
        {
            position:sticky;
            margin-left:5%;
            margin-right:5%;
            height: 7.5vh;
            display: flex; /* Use flexbox to center vertically and horizontally */
            justify-content: center;
            align-items: center;
        }

        .web-sections {
            position: absolute;
            width: 75%;
            height: 50%;
            bottom: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .web-sections ul {
            list-style: none;
            display: flex;
            margin-left: 15%;
            margin-right: 15%;
        }

        .web-sections li {
            margin: 0 20px;
        }


        .web-sections a {
            text-decoration: none;
            color: var(--color-light-background);
            font-size: 1.5rem;
        }
        

        nav.active {
            display: block;
        }



    .homepage-mobile-phone {
        position: absolute; /* Use flexbox to align items */
        justify-content: left; /* Align items to the left */
        align-items: center; /* Vertically center items */
        height: auto;
        width:6%;
        left: 0vh;
    }
    .homepage-mobile-phone img {
        width: 100%; /* Set width of icons */
        height: 80%; /* Set height of icons */
        border-radius: 20%; /* Add border-radius for rounded icons */
        filter: var(--color-nav-text);
    }
    .menu-icon{
        display: block;
    }
}