@media (min-width: 1440px) {
    .content {
        margin-top: 15vh; /* Adjust the value to match the height of your header */
        margin-bottom: 80px; /* Adjust the value to match the height of your footer */
        margin-left: 5vh;
        margin-bottom: 15vh;
        background-color: var(--color-light-background);
        font-family: var(--main-font-family);
        color: var(--color-dark-text);
        flex: 1;
        display: grid;
      }      

      .content div{
        padding: 5px;
      }

      .content.sticky{
        padding-top:50px;
        padding-bottom: 2000px;
    }

    .section p{
      font-size: auto;
      position: flex-end;
      text-align: justify;
      justify-content: center;
      line-height: 2;
    }
    .post{
       margin-top: 15vh; /* Adjust the value to match the height of your header */
        margin-bottom: 80px; /* Adjust the value to match the height of your footer */
        margin-left: 33vh;
        margin-bottom: 15vh;
        margin-right: 33vh;
        background-color: var(--color-light-background);
        font-family: var(--main-font-family);
        color: var(--color-dark-text);
        flex: 1;
        display: grid;
    }

    .section{
      margin-top: 5vh;
      margin-left: 33vh;
      margin-right: 33vh;
      background-color: var(--color-light-background);
    }
  
    .section h2{
      font-size: 40px;
      justify-content: right;
    }

    .section p{
      font-size: 1.5rem;
    }

    .subtitle{
      font-size:2rem;
    }
    .paper{
      line-height: 2;
      margin-top: 2vh;
    }
    .abstract{
      position: flex-end;
      text-align: justify;
      justify-content: center;
    }

    .links:link { 
      text-decoration: none; 
      color: var(--color-dark-text);
    }


    .links:visited { 
      text-decoration: none; 
      color: var(--color-dark-text);
    }


    .links:hover { 
      text-decoration: none; 
      color: var(--color-light-hover);}


    .links:active { text-decoration: none; 
      color: var(--color-hover);}





    hr {
      border: none; /* Remove default border */
      border-top: 2px solid var(--color-dark-text); /* Add custom border style */
      margin: 10px 0; /* Add margin for spacing */
  }


}

@media (min-width: 980px) and (max-width: 1439px) {
  .content {
      margin-top: 10vh; /* Adjust the value to match the height of your header */
      margin-bottom: 50px; /* Adjust the value to match the height of your footer */
      margin-left: 0vh; 
      background-color: var(--color-light-background);
      font-family: var(--main-font-family);
      color: var(--color-dark-text);
      flex: 1;
      display: grid;
    }      

    .content div{
      padding: 5px;
    }
    .content.sticky{
      padding-top:0px;
      padding-bottom: 30px;
  }

  .section{
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    background-color: var(--color-light-background);
  }

  .section h2{
    font-size: 30px;
    justify-content: right;
  }

  .section p{
    font-size: 18px;
  }

  .section li{
    font-size: 18px;
  }

  .personal{
    margin-top: 2vh;
  }

  .summary{
    font-size: 20px;
    line-height: 2;
    text-align: justify;
    margin-top: 2vh;
  }

  .education
  {
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
  }

  .education2
  {
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
  }

  .languages
  {
    display:flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
  }

  hr {
    border: none; /* Remove default border */
    border-top: 2px solid var(--color-dark-text); /* Add custom border style */
    margin: 10px 0; /* Add margin for spacing */
}
  .certificates{
    margin-top: 2vh;
  }

  .skills{
    display:flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;

  }

}



@media (max-width: 980px) {
  .content {
      margin-top: 10vh; /* Adjust the value to match the height of your header */
      margin-bottom: 50px; /* Adjust the value to match the height of your footer */
      margin-left: 0vh; 
      background-color: var(--color-light-background);
      font-family: var(--main-font-family);
      color: var(--color-dark-text);
      flex: 1;
      display: grid;
    }      

    .content div{
      padding: 5px;
    }
    .content.sticky{
      padding-top:0px;
      padding-bottom: 30px;
  }

  .section{
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    background-color: var(--color-light-background);
  }

  .section h2{
    font-size: 30px;
    justify-content: right;
  }

  .section p{
    font-size: 18px;
  }

  .section li{
    font-size: 18px;
  }

  .personal{
    margin-top: 2vh;
  }

  .summary{
    font-size: 20px;
    line-height: 2;
    text-align: justify;
    margin-top: 2vh;
  }

  .education
  {
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
  }

  .education2
  {
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
  }

  .languages
  {
    display:flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
  }

  hr {
    border: none; /* Remove default border */
    border-top: 2px solid var(--color-dark-text); /* Add custom border style */
    margin: 10px 0; /* Add margin for spacing */
}
  .certificates{
    margin-top: 2vh;
  }

  .skills{
    display:flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;

  }

}